.canvas {
    /*margin-top: 10px;*/
    border: brown 1px solid;
    background: url('../images/bg_0.png');
    background-size: cover;
}
.input-wrapper {
    margin-top: 10px;
}
.barrage-input {
    width: 200px;
    padding: 12px;
}
.send-btn {
    padding: 10px;
}